######    Gui Reis   -   guisreis25@gmail.com    ######    COPYRIGHT © 2020 KINGS

## Removendo o que não é necessário mostrar. ##

## Tirando a pasta vscode + pycache
/_main/[_]_pycache__/
/_main/[.]vscode/